body {
  width: 600px;
  background-color: rgba(115, 88, 214, 0.512);
  margin: 25px auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1 {
  font-family: serif;
  font-size: 400%;
}

.center {
  text-align: center;
}

button {
  background-color: rgba(0, 17, 255, 0.218);
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 5px 8px;
  border-radius: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

button:hover {
  background-color: rgba(102, 0, 255, 0.329);
  color: black;
}

input {
  width: 50px;
}

.tiny {
  font-size: small;
}
